/Library
/Logs
/obj
/ProjectSettings
/UserSettings
UnityEngine.UI.Tests.csproj
UnityEngine.UI.Player.csproj
UnityEngine.UI.csproj
UnityEngine.TestRunner.Player.csproj
UnityEngine.TestRunner.csproj
UnityEditor.UI.EditorTests.csproj
UnityEditor.UI.csproj
UnityEditor.UI.Analytics.csproj
UnityEditor.TestRunner.csproj
Unity.VisualStudio.Editor.csproj
Unity.VisualScripting.State.Player.csproj
Unity.VisualScripting.State.Editor.csproj
Unity.VisualScripting.State.csproj
Unity.VisualScripting.Shared.Editor.csproj
Unity.VisualScripting.SettingsProvider.Editor.csproj
Unity.VisualScripting.Flow.Player.csproj
Unity.VisualScripting.Flow.Editor.csproj
Unity.VisualScripting.Flow.csproj
Unity.VisualScripting.DocCodeExamples.Player.csproj
Unity.VisualScripting.DocCodeExamples.csproj
Unity.VisualScripting.Core.Player.csproj
Unity.VisualScripting.Core.Editor.csproj
Unity.VisualScripting.Core.csproj
Unity.UnifiedRayTracing.Runtime.Player.csproj
Unity.UnifiedRayTracing.Runtime.csproj
Unity.UnifiedRayTracing.Editor.Tests.csproj
Unity.Timeline.Player.csproj
Unity.Timeline.Editor.csproj
Unity.Timeline.csproj
Unity.TextMeshPro.Tests.csproj
Unity.TextMeshPro.Player.csproj
Unity.TextMeshPro.Editor.Tests.csproj
Unity.TextMeshPro.Editor.csproj
Unity.TextMeshPro.csproj
Unity.ShaderGraph.Utilities.csproj
Unity.ShaderGraph.Editor.Tests.csproj
Unity.ShaderGraph.Editor.csproj
Unity.Searcher.EditorTests.csproj
Unity.Searcher.Editor.csproj
Unity.Rider.Editor.csproj
Unity.RenderPipelines.Universal.Shaders.Player.csproj
Unity.RenderPipelines.Universal.Shaders.csproj
Unity.RenderPipelines.Universal.Runtime.Tests.csproj
Unity.RenderPipelines.Universal.Runtime.Player.csproj
Unity.RenderPipelines.Universal.Runtime.csproj
Unity.RenderPipelines.Universal.Editor.Tests.csproj
Unity.RenderPipelines.Universal.Editor.csproj
Unity.RenderPipelines.Universal.Config.Runtime.Player.csproj
Unity.RenderPipelines.Universal.Config.Runtime.csproj
Unity.RenderPipelines.Universal.Config.Editor.Tests.csproj
Unity.RenderPipelines.Universal.2D.Runtime.Player.csproj
Unity.RenderPipelines.Universal.2D.Runtime.csproj
Unity.RenderPipelines.Universal.2D.Editor.Overrides.csproj
Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.Player.csproj
Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj
Unity.RenderPipelines.GPUDriven.Runtime.Player.csproj
Unity.RenderPipelines.GPUDriven.Runtime.csproj
Unity.RenderPipelines.Core.ShaderLibrary.Player.csproj
Unity.RenderPipelines.Core.ShaderLibrary.csproj
Unity.RenderPipelines.Core.Runtime.Tests.csproj
Unity.RenderPipelines.Core.Runtime.Shared.Player.csproj
Unity.RenderPipelines.Core.Runtime.Shared.csproj
Unity.RenderPipelines.Core.Runtime.Player.csproj
Unity.RenderPipelines.Core.Runtime.csproj
Unity.RenderPipelines.Core.Editor.Tests.csproj
Unity.RenderPipelines.Core.Editor.Shared.csproj
Unity.RenderPipelines.Core.Editor.csproj
Unity.RenderPipeline.Universal.ShaderLibrary.Player.csproj
Unity.RenderPipeline.Universal.ShaderLibrary.csproj
Unity.Rendering.LightTransport.Editor.csproj
Unity.PlasticSCM.Editor.Entities.csproj
Unity.PlasticSCM.Editor.csproj
Unity.PerformanceTesting.Player.csproj
Unity.PerformanceTesting.Editor.csproj
Unity.PerformanceTesting.csproj
Unity.Nuget.Mono-Cecil.csproj
Unity.Multiplayer.Center.Tests.csproj
Unity.Multiplayer.Center.Editor.Tests.csproj
Unity.Multiplayer.Center.Editor.csproj
Unity.Multiplayer.Center.Common.Player.csproj
Unity.Multiplayer.Center.Common.csproj
Unity.Mathematics.Tests.csproj
Unity.Mathematics.Player.csproj
Unity.Mathematics.Editor.csproj
Unity.Mathematics.csproj
Unity.InternalAPIEngineBridge.004.Player.csproj
Unity.InternalAPIEngineBridge.004.csproj
Unity.InputSystem.TestFramework.Player.csproj
Unity.InputSystem.TestFramework.csproj
Unity.InputSystem.Player.csproj
Unity.InputSystem.IntegrationTests.csproj
Unity.InputSystem.ForUI.Player.csproj
Unity.InputSystem.ForUI.csproj
Unity.InputSystem.DocCodeSamples.csproj
Unity.InputSystem.csproj
Unity.FishNet.Codegen.csproj
Unity.Collections.Tests.Playmode.csproj
Unity.Collections.Tests.csproj
Unity.Collections.Player.csproj
Unity.Collections.PerformanceTests.csproj
Unity.Collections.Editor.csproj
Unity.Collections.DocCodeSamples.csproj
Unity.Collections.csproj
Unity.Collections.CodeGen.csproj
Unity.Collections.BurstCompatibilityGen.csproj
Unity.CollabProxy.Editor.csproj
Unity.Burst.Player.csproj
Unity.Burst.Editor.csproj
Unity.Burst.csproj
Unity.Burst.CodeGen.csproj
Unity.AI.Navigation.Updater.csproj
Unity.AI.Navigation.Player.csproj
Unity.AI.Navigation.Editor.csproj
Unity.AI.Navigation.Editor.ConversionSystem.csproj
Unity.AI.Navigation.csproj
TestNewCustomAssembly.csproj
SynapseSocket.Player.csproj
SynapseSocket.csproj
PPv2URPConverters.csproj
ParrelSync.csproj
